@page "/upload"

<h3>UploadFilePage</h3>
<div>
    <label class="form-label">
        Upload :
        <InputFile></InputFile>
    </label>
    <button class="btn btn-outline-success" type="submit">Upload</button>
</div>
@code {

}
