@page "/detail/{id}"

<h3>Detail</h3>
<table class="table table-bordered">
    <thead class="card-header">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Description</th>
            <th>Weigth</th>
            <th>Heigth</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody class="card-body">

    </tbody>
</table>
@code {

}
