@page "/list"

<h3>List</h3>
<a class="btn btn-info mt-2 mb-2" href="/create">Add new</a>
<table class="table table-bordered">
    <thead class="card-header">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Description</th>
            <th>Weigth</th>
            <th>Heigth</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody class="card-body">

    </tbody>
</table>
@code {

}
